<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="main w-full">
        <a  class="text-blue-600 mb-10" href="/">Go back to Home</a>
    <h1><%= filename %></h1>
    <p class=" text-xl mt-2"><%= filedata %></p>
</div>
</body>
</html>